<%layout('layouts/boilerplate')%>
    <div id="map" style="width: 100%; height: 500px;" class="mb-3"></div>
    <!--Whitespaces in address causes error in path -->
    <%for(campground of campgrounds){%>
        <div class="card mb-3 p-2 rounded">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid rounded-left" src="<%=campground.images[0].url%>" alt="<%=campground.title%>">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=campground.title%>
                        </h5>
                        <p class="card-text">
                            <small class="text-muted">
                                <%=campground.location%>
                            </small>
                        </p>
                        <p class="card-text">
                            <%=campground.description%>
                        </p>
                        <a class="btn btn-outline-secondary" href="/campgrounds/<%=campground._id%>">
                            Visit <%=campground.title%>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <%}%>

            <script>
                const mapboxToken = '<%-process.env.MAPBOX_TOKEN%>';
                const campgrounds = { features: <%- JSON.stringify(campgrounds) %>};
            </script>
            <script src="/javascripts/mapCluster.js"></script>